nav {
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 1rem .5rem;
    background-color: #333;
    flex-direction: column;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 48%;
        width: 2px;
        height: 100%;
        background: rgb(218, 47, 70);
        transform: rotate(10deg);
        opacity: 0.7;
        z-index: 1;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 48%;
        width: 2px;
        height: 100%;
        background: #7a55b9;
        transform: rotate(10deg);
        z-index: 1;
    }
    .nav-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
        a {
            color: #7a55b9;;
            text-decoration: none;
            padding: 0.5rem .5rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 1.5rem;
            z-index: 2;
          }
        .cart-link, .login-link {
            color: rgb(218, 47, 70);
          }
        .user-menu{
            .username{
              position: relative;
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                margin-left: auto;
                margin-right: .5rem;
                size: 1rem;
                color: rgb(218, 47, 70);
                z-index: 2;
                font-size: 1.5rem;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
            .dropdown-arrow {
                display: inline-block;
                font-size: 1em;
                transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                line-height: 0.5;
              }
            .dropdown-arrow.open {
                transform: rotate(180deg);
              }
            .logout-button {
                position: absolute;
                right: 1rem;
                margin-left: auto;
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 4px;
                background-color: rgb(218, 47, 70);
                color: white;
                cursor: pointer;
                z-index: 2;
                &:hover {
                  background-color: #c82333;
                }
              }
        }
      }
  }

  @media (max-width: 600px) {
    nav {
      a, .username {
        font-size: 1rem;
      }
    }
  }
