.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    .product-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        border-radius: 8px;
        padding: 1rem;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        img {
            max-width: 100%;
            height: 200px;
            object-fit: contain;
          }
        &:hover {
            img {
                transition: transform 0.6s ease;
                transform: scale(1.1);
              }
        }
        .product-title {
            padding: 1rem 1.5rem;
            font-size: 1rem;
            font-weight: 600;
            color: #2c3e50;
            margin: 0;
            line-height: 1.4;
            text-decoration: none;
          }
        .product-buttons {
            display: flex;
            gap: 10px;
            justify-content: center;
            margin-top: 10px;
            .add-to-cart-button, .view-details-button {
                padding: 1rem;
                background: #7a55b9;
                color: white;
                border: none;
                font-size: 1.1rem;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.3s ease;
                position: relative;
                z-index: 2;
                margin-bottom: 0;
                border-radius: 5px;
                box-shadow: #eee 0px 10px 10px -5px;
              }
            .add-to-cart-button{
                &:hover{
                    background: #b30909;
                }
        
            }
            .view-details-button{
                &:hover{
                    background: #2d3748;
                }
            }
          }
        a{
            text-decoration: none;
          }
      }
  }
.product-list{
    .no-results {
        text-align: center;
        padding: 3rem;
        background: white;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        margin: 2rem 0;
        font-size: 1.2rem;
        color: #2c3e50;
        font-weight: 600;
      }
}

  