body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .app {
    margin: 0 1.5rem;
  }


  @import "components/_auth";
  @import "components/_product-list";
  @import "components/_product-details";
  @import "components/_create-product";
  @import "components/_cart";
  @import "components/_filters";
  @import "components/_navigation";
  @import "components/_pagination";
